<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinized</title>
  </head>
  <body>
    <h1>Here is your phrase</h1>
    <h2><%= @piglatin.piglatinize(@user_phrase) %></h2>
  </body>
</html>